In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
df = pd.read_csv('data/superhero_powers - superhero_powers.csv')
df.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [3]:
df.duplicated().sum()

0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [5]:
df_info = pd.read_csv('data/superhero_info - superhero_info.csv')
df_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [6]:
info = df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [7]:
cat_cols = df
for col in cat_cols:
  display(df[col].value_counts())

3-D Man            1
Namora             1
Naruto Uzumaki     1
Nathan Petrelli    1
Nebula             1
                  ..
Evilhawk           1
Exodus             1
Fabian Cortez      1
Falcon             1
Zoom               1
Name: hero_names, Length: 667, dtype: int64

Intelligence                                                                                                                                                                                                                                                         8
Durability,Super Strength                                                                                                                                                                                                                                            5
Agility,Stealth,Marksmanship,Weapons Master,Stamina                                                                                                                                                                                                                  4
Marksmanship                                                                                                                                                                                                                                                         4
Teleportation                                                                                                                                                                                                                                                        4
                                                                                                                                                                                                                                                                    ..
Accelerated Healing,Flight,Telepathy,Energy Blasts,Teleportation,Telekinesis,Astral Projection,Psionic Powers,Mind Blast,Regeneration,Illusions,Resurrection                                                                                                         1
Flight,Telepathy,Animal Oriented Powers,Gliding                                                                                                                                                                                                                      1
Accelerated Healing,Durability,Energy Absorption,Flight,Super Strength,Telepathy,Energy Blasts,Size Changing,Super Speed,Darkforce Manipulation,Enhanced Senses,Phasing,Invulnerability,Self-Sustenance,Gravity Control,Energy Manipulation,Time Travel,Illusions    1
Agility,Accelerated Healing,Super Strength,Super Speed,Animal Oriented Powers,Enhanced Senses,Jump,Reflexes,Natural Weapons                                                                                                                                          1
Super Speed,Intangibility,Time Travel,Time Manipulation                                                                                                                                                                                                              1
Name: Powers, Length: 608, dtype: int64

In [8]:
df_info['Hero|Publisher'].head(2)

0            A-Bomb|Marvel Comics
1    Abe Sapien|Dark Horse Comics
Name: Hero|Publisher, dtype: object

In [9]:
## adding expand=True
df_info['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [10]:
## save the 2 new columns into the dataframe
df_info[['Hero','Publisher']] = df_info['Hero|Publisher'].str.split('|',expand=True)
df_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [11]:
# Make a list of all characters to replace
to_replace = ["{","}", "'", "'", "Height:", "Weight:","cm", "kg"]
# run a loop to replace all of the characters in the list at once
for char in to_replace:
    df_info['Measurements'] = df_info['Measurements'].str.replace(char,'',regex=False)
    
df_info['Measurements'].head()

0     203.0 ,  441.0
1      191.0 ,  65.0
2      185.0 ,  90.0
3     203.0 ,  441.0
4     193.0 ,  122.0
Name: Measurements, dtype: object

In [12]:
df_info[['Height (cm)','Weight (kg)']] = df_info['Measurements'].str.split(',',expand=True)
df_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height (cm),Weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"203.0 , 441.0",A-Bomb,Marvel Comics,203.0,441.0
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"191.0 , 65.0",Abe Sapien,Dark Horse Comics,191.0,65.0

In [13]:
df_info = df_info.drop(columns=['Hero|Publisher', 'Measurements'])
df_info.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height (cm),Weight (kg)
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [14]:
df_info["Height (cm)"] = df_info[["Height (cm)"]].astype(float)

In [15]:
df_info["Height (cm)"].head()

0    203.0
1    191.0
2    185.0
3    203.0
4    193.0
Name: Height (cm), dtype: float64

In [16]:
df_info["Weight (kg)"].head()

0      441.0
1       65.0
2       90.0
3      441.0
4      122.0
Name: Weight (kg), dtype: object

In [17]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       463 non-null    object
 1   Race         463 non-null    object
 2   Alignment    463 non-null    object
 3   Hair color   463 non-null    object
 4   Eye color    463 non-null    object
 5   Skin color   463 non-null    object
 6   Hero         463 non-null    object
 7   Publisher    463 non-null    object
 8   Height (cm)  463 non-null    float64
 9   Weight (kg)  463 non-null    object
dtypes: float64(1), object(9)
memory usage: 36.3+ KB

In [18]:
df = pd.concat((df, df_info), axis = 1)
df.head(2)

,hero_names,Powers,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height (cm),Weight (kg)
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

In [19]:
df["Hero Names"] = df["hero_names"]
df = df.drop(columns=["hero_names", "Hero"])
df.head(2)

,Powers,Gender,Race,Alignment,Hair color,Eye color,Skin color,Publisher,Height (cm),Weight (kg),Hero Names
0,"Agility,Super Strength,Stamina,Super Speed",Male,Human,good,No Hair,yellow,Unknown,Marvel Comics,203.0,441.0,3-D Man
1,"Accelerated Healing,Durability,Longevity,Super...",Male,Icthyo Sapien,good,No Hair,blue,blue,Dark Horse Comics,191.0,65.0,A-Bomb

In [20]:
## showing the lists are really strings
df.loc[0,'Powers']

'Agility,Super Strength,Stamina,Super Speed'

In [21]:
## adding expand=True
# Create a new column where they were converted back to lists
df['Powers'].str.split(',', expand = True)

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,Agility,Super Strength,Stamina,Super Speed,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Accelerated Healing,Durability,Longevity,Super Strength,Stamina,Camouflage,Self-Sustenance,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,...,None,None,None,None,None,None,None,None,None,None
3,Lantern Power Ring,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Accelerated Healing,Intelligence,Super Strength,Stamina,Super Speed,Invulnerability,Animation,Super Breath,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Flight,Energy Blasts,Size Changing,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
663,Cold Resistance,Durability,Longevity,Super Strength,Cryokinesis,Immortality,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
664,Agility,Stealth,Danger Sense,Marksmanship,Weapons Master,Longevity,Intelligence,Telepathy,Energy Blasts,Stamina,...,None,None,None,None,None,None,None,None,None,None
665,Cryokinesis,Telepathy,Magic,Fire Control,Probability Manipulation,Water Control,Terrakinesis,Weather Control,None,None,...,None,None,None,None,None,None,None,None,None,None
666,Super Speed,Intangibility,Time Travel,Time Manipulation,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [22]:
df["powers_split"] = df["Powers"].str.replace("","" , '"')
df["powers_split"].value_counts()

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
## Apply the json.loads to the full column
df["powers_split"] = df["powers_split"].apply(json.loads("s"))
df["powers_split"].head()

In [ ]:

# Apply json.loads to entire column
df['powers_split'] = df['powers_split'].apply(json.loads("s"))
# check results
df['powers_split'].head()

In [ ]:
df['Powers_split'].value_counts()

In [ ]:
# Apply json.loads to entire column
df['Powers_split'] = df['Powers_split'].apply(json.loads)
# check results
df['Powers_split'].head()

In [ ]:
## exploding the column of lists
exploded = df.explode("Powers_split")
exploded[["Powers","Powers_split"]].head(5)